<nav>
    <div class="nav-wrapper container">
        <a href="/jots" class="brand-logo center">ArtJot</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav indigo" id="mobile-demo">
            <li><a href="/jots">Public Jots</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>

</nav>