<h3><i class="fas fa-paint-brush"></i>ArtJot</h3>
<div class="section">
    <p class="lead">Art Jot with Me</p>
</div>
<div class="divider"></div>
<div class="section"></div>
<a href="/auth/google" class="btn red darken-1">
    <i class="fab fa-google left"> Login With Google</i>
</a>
</div>