<div class="section">
</div>
<div class="divider"></div>
<div class="section padmore"></div>
<a href="/auth/google" class="btn red darken-1 long">
    <i class="fab fa-google center"></i>
    <span class="mobile-login">Login With Google</span>
</a>
</div>